.code-tabs div[class*='language-'],
.code-tabs input {
    display: none;
}

.code-tabs input:checked + div[class*='language-'] {
    display: block;
    margin-top: -1rem;
    border-top-left-radius: 0;
}

.code-tabs input:checked + label {
    color: var(--vp-c-text-1);
    background-color: var(--vp-c-bg-mute);
}

.code-tabs ul {
    font-size: 0;
    padding: 0 !important;
    white-space: nowrap;
    user-select: none;
    margin-left: -19px !important;
}

@media (min-width: 640px) {
    .code-tabs ul {
        margin-left: 0 !important;
    }
}

.code-tabs li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.code-tabs label {
    color: var(--vp-c-text-2);
    background-color: var(--vp-c-bg-soft);
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: 3px 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: -5px;
}
