.vp-code-group .tabs {
  padding: 0;
  margin: 0;
}

.vp-code-group .tabs label {
  transition:
    all 0.3s,
    background-color 0.7s;
  border-radius: 10px;
  margin: 4px;
  line-height: unset;
  padding: 5px 15px;
}

.vp-code-group .tabs input:checked + label {
  background-color: var(--vp-c-bg-mute);
  padding: 5px 20px;
}
